@model IEnumerable<MoodyWeb.Models.tbl_moody>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
        </tr>
    }

</table>
